<h1>RHUL CS Cake Talks 🎂</h1>
<p>Welcome to the RHUL CS Cake Talks webpage. Cake talks are informal seminars for postgraduate Computer Science students to discuss their research interests.</p>

<p>Seminars occur about once a month; the exact location and time may vary, so please check the schedule below. The format is a 30-minute talk, followed by a ~25-minute discussion session, followed by cake!</p>

<p>Each seminar is tagged with a general <span class="badge bg-danger">Topic</span> and with <span class="badge bg-primary">Cake</span> if cake is to be expected.</p>

<p>Click on <strong>Show Details</strong> to see the location, time and abstract of a seminar.</p>